// Home

.home {
    &__background {
        padding: 190px 0;
        position: relative;
        background-color: $color-gray;

        @include mq(tablet-wide, max) {
            padding: 90px 0 70px;
         } 

        @include mq(phone-landscape, max) {
            padding: 50px 0;
        }
    }

    &__title {
        margin-bottom: 150px;
        text-align: center;
        text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24); 

        &--background{
            background-color: rgba($color: $color-mint, $alpha: 0.5);
        }

        @include mq(phone-landscape, max) {
            margin-bottom: 50px;
        }
    }

    &__btn-box {
        text-align: center;
    }

    &__btn {

        &:hover {
            background-color: $color-white;
        }
    }

    &__img {
        position: absolute;
        right: 108px;
        bottom: -60px;

        @include mq(tablet, max) {
            bottom: 10%;
        }

        @include mq(phone-landscape, max) {
            right: 0;
            bottom: 10;
        }

        @include mq(phone, max) {
            display: none;
        }
    }
}