// Btn

.btn {
    padding: 16px 45px;
    font-family: $font-montserrat;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.006;
    border: 1px solid $color-black;
    border-radius: 0%;
}