// Slider

// Slider section about

.about__slide {
    margin: 0 auto;
    padding-bottom: 20px;
}

.slick-dots {
    display: flex;
    justify-content: center;

    li {
        margin-right: 3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #d0d0d0;

    }

    button {
        font-size: 0; 
        border: none;
        background: transparent;
        
    }
}

.slick-dots li.slick-active {
    background: $color-mint;
}






