// variables

// Fonts
$font-merriweather: 'Merriweather', serif;
$font-montserrat:'Montserrat', sans-serif;
$font-raleway: 'Raleway', sans-serif;

// Colors
$color-mint: #71f6eb;
$color-gray: #eff0f2;
$color-gray-light: #f8fafa;
$color-white: #fff;
$color-gold: #f2da3b;
$color-black: #000;
